<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Sofia Pro Black Az.otf</string>
		<string>Sofia Pro Bold Az.otf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to scan QR codes for joining houses.</string>
</dict>
</plist>
